docutils==0.14
MarkupSafe==1.0
matplotlib==2.0.0
numpy==1.21.0
numpydoc==0.7.0
packaging==16.8
py==1.4.32
Pygments==2.2.0
pyparsing==2.1.10
pytest==3.0.6
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
requests==2.18.4
scipy==0.18.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.3
sphinxcontrib-websupport==1.0.1
urllib3==1.22
